In [13]:
import pandas as pd

# Read Excel file
df = pd.read_csv("data/2018-v269-16052023-EU MRV Publication of information.csv")

# Display data
df

,IMO Number,Name,Ship type,Reporting Period,Technical efficiency,Port of Registry,Home Port,Ice Class,DoC issue date,DoC expiry date,...,Fuel consumption per transport work (pax) on laden voyages [g / pax · n miles],Fuel consumption per transport work (freight) on laden voyages [g / m tonnes · n miles],CO₂ emissions per distance on laden voyages [kg CO₂ / n mile],CO₂ emissions per transport work (mass) on laden voyages [g CO₂ / m tonnes · n miles],CO₂ emissions per transport work (volume) on laden voyages [g CO₂ / m³ · n miles],CO₂ emissions per transport work (dwt) on laden voyages [g CO₂ / dwt carried · n miles],CO₂ emissions per transport work (pax) on laden voyages [g CO₂ / pax · n miles],CO₂ emissions per transport work (freight) on laden voyages [g CO₂ / m tonnes · n miles],Additional information to facilitate the understanding of the reported average operational energy efficiency indicators,Average density of the cargo transported [m tonnes / m³]
0,5383304,ASTORIA,Passenger ship,2018,Not Applicable,NaN,NaN,NaN,05/02/2019,30/06/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6417097,MARCO POLO,Passenger ship,2018,Not Applicable,NaN,NaN,IC,05/02/2019,30/06/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6511128,RED STAR 1,Ro-pax ship,2018,EIV (45.57 gCO₂/t·nm),NaN,NaN,NaN,30/04/2019,30/06/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6602898,OCEAN MAJESTY,Passenger ship,2018,EIV (31.73 gCO₂/t·nm),Madeira,NaN,NaN,06/05/2019,30/06/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6703343,EQUALITY,Other ship types,2018,Not Applicable,Beirut,NaN,NaN,30/06/2019,30/06/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12250,9838199,BALT FLOT 18,Chemical tanker,2018,EEDI (12.93 gCO₂/t·nm),St.Petersburg,St.Petersburg,IC,27/05/2020,30/06/2020,...,NaN,NaN,117.12,16.93,NaN,NaN,NaN,NaN,NaN,NaN
12251,9839064,INFINITY SKY,Bulk carrier,2018,NaN,NaN,NaN,NaN,11/03/2019,30/06/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12252,9840790,DARYA RAMA,Bulk carrier,2018,NaN,Hong Kong,Hong Kong,NaN,08/03/2019,30/06/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12253,9847140,CHEMICAL CONTENDER,Chemical tanker,2018,EIV (9.16 gCO₂/t·nm),Monrovia,Monrovia,NaN,20/04/2019,30/06/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12254,9848467,ALF POLLAK,Ro-ro ship,2018,EEDI (12.3 gCO₂/t·nm),Cagliari,NaN,NaN,30/04/2019,30/06/2020,...,NaN,NaN,Division by zero!,273.55,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Display all the columns in the dataframe
df.columns

Index(['IMO Number', 'Name', 'Ship type', 'Reporting Period',
       'Technical efficiency', 'Port of Registry', 'Home Port', 'Ice Class',
       'DoC issue date', 'DoC expiry date', 'Verifier Number', 'Verifier Name',
       'Verifier NAB', 'Verifier Address', 'Verifier City',
       'Verifier Accreditation number', 'Verifier Country', 'A', 'B', 'C', 'D',
       'Total fuel consumption [m tonnes]',
       'Fuel consumptions assigned to On laden [m tonnes]',
       'Total CO₂ emissions [m tonnes]',
       'CO₂ emissions from all voyages between ports under a MS jurisdiction [m tonnes]',
       'CO₂ emissions from all voyages which departed from ports under a MS jurisdiction [m tonnes]',
       'CO₂ emissions from all voyages to ports under a MS jurisdiction [m tonnes]',
       'CO₂ emissions which occurred within ports under a MS jurisdiction at berth [m tonnes]',
       'CO₂ emissions assigned to Passenger transport [m tonnes]',
       'CO₂ emissions assigned to Freight transport [m tonnes]',
       'CO₂ emissions assigned to On laden [m tonnes]',
       'Annual Total time spent at sea [hours]',
       'Annual average Fuel consumption per distance [kg / n mile]',
       'Annual average Fuel consumption per transport work (mass) [g / m tonnes · n miles]',
       'Annual average Fuel consumption per transport work (volume) [g / m³ · n miles]',
       'Annual average Fuel consumption per transport work (dwt) [g / dwt carried · n miles]',
       'Annual average Fuel consumption per transport work (pax) [g / pax · n miles]',
       'Annual average Fuel consumption per transport work (freight) [g / m tonnes · n miles]',
       'Annual average CO₂ emissions per distance [kg CO₂ / n mile]',
       'Annual average CO₂ emissions per transport work (mass) [g CO₂ / m tonnes · n miles]',
       'Annual average CO₂ emissions per transport work (volume) [g CO₂ / m³ · n miles]',
       'Annual average CO₂ emissions per transport work (dwt) [g CO₂ / dwt carried · n miles]',
       'Annual average CO₂ emissions per transport work (pax) [g CO₂ / pax · n miles]',
       'Annual average CO₂ emissions per transport work (freight) [g CO₂ / m tonnes · n miles]',
       'Through ice [n miles]', 'Total time spent at sea [hours]',
       'Total time spent at sea through ice [hours]',
       'Fuel consumption per distance on laden voyages [kg / n mile]',
       'Fuel consumption per transport work (mass) on laden voyages [g / m tonnes · n miles]',
       'Fuel consumption per transport work (volume) on laden voyages [g / m³ · n miles]',
       'Fuel consumption per transport work (dwt) on laden voyages [g / dwt carried · n miles]',
       'Fuel consumption per transport work (pax) on laden voyages [g / pax · n miles]',
       'Fuel consumption per transport work (freight) on laden voyages [g / m tonnes · n miles]',
       'CO₂ emissions per distance on laden voyages [kg CO₂ / n mile]',
       'CO₂ emissions per transport work (mass) on laden voyages [g CO₂ / m tonnes · n miles]',
       'CO₂ emissions per transport work (volume) on laden voyages [g CO₂ / m³ · n miles]',
       'CO₂ emissions per transport work (dwt) on laden voyages [g CO₂ / dwt carried · n miles]',
       'CO₂ emissions per transport work (pax) on laden voyages [g CO₂ / pax · n miles]',
       'CO₂ emissions per transport work (freight) on laden voyages [g CO₂ / m tonnes · n miles]',
       'Additional information to facilitate the understanding of the reported average operational energy efficiency indicators',
       'Average density of the cargo transported [m tonnes / m³]'],
      dtype='object')

In [4]:
# Print the number of ships per ship type
countByType = df.groupby('Ship type')['Name'].nunique()
print(countByType)

Ship type
Bulk carrier                  3810
Chemical tanker               1362
Combination carrier             10
Container ship                1812
Container/ro-ro cargo ship      80
Gas carrier                    321
General cargo ship            1174
LNG carrier                    213
Oil tanker                    1903
Other ship types               126
Passenger ship                 159
Refrigerated cargo carrier     145
Ro-pax ship                    374
Ro-ro ship                     272
Vehicle carrier                447
Name: Name, dtype: int64

In [4]:
# Sum of fuel consumption by ship type
fuelConsumptionByShipType = df.groupby('Ship type')['Total fuel consumption [m tonnes]'].sum()
fuelConsumptionByShipType

Ship type
Bulk carrier                   5942545.48
Chemical tanker                3031236.64
Combination carrier              33865.39
Container ship                14529898.70
Container/ro-ro cargo ship      539285.07
Gas carrier                     841947.93
General cargo ship             2027128.70
LNG carrier                    2135727.36
Oil tanker                     6061453.83
Other ship types                372501.19
Passenger ship                 2092853.28
Refrigerated cargo carrier      570700.03
Ro-pax ship                    4699710.28
Ro-ro ship                     2024179.56
Vehicle carrier                1628351.90
Name: Total fuel consumption [m tonnes], dtype: float64

In [5]:
# Sum of CO2 emmision per ship type
co2EmissionPerShipType = df.groupby('Ship type')['Total CO₂ emissions [m tonnes]'].sum()
co2EmissionPerShipType

Ship type
Bulk carrier                  18655792.56
Chemical tanker                9534590.39
Combination carrier             105981.27
Container ship                45413358.44
Container/ro-ro cargo ship     1689158.95
Gas carrier                    2601536.34
General cargo ship             6361660.64
LNG carrier                    6131581.79
Oil tanker                    19073609.11
Other ship types               1162224.97
Passenger ship                 6576185.86
Refrigerated cargo carrier     1782187.28
Ro-pax ship                   14769613.20
Ro-ro ship                     6384468.54
Vehicle carrier                5103291.31
Name: Total CO₂ emissions [m tonnes], dtype: float64

In [7]:
# Total steaming time

steamingTimeByShipType = df.groupby('Ship type')['Total time spent at sea [hours]'].sum()
steamingTimeByShipType

Ship type
Bulk carrier                  6320601.73
Chemical tanker               3844410.87
Combination carrier             33615.34
Container ship                5875324.39
Container/ro-ro cargo ship     282585.19
Gas carrier                    962841.50
General cargo ship            3503552.59
LNG carrier                    506242.87
Oil tanker                    5073070.21
Other ship types               338632.72
Passenger ship                 644384.78
Refrigerated cargo carrier     353598.17
Ro-pax ship                   1627409.63
Ro-ro ship                    1478627.50
Vehicle carrier               1121424.85
Name: Total time spent at sea [hours], dtype: float64

In [8]:
# Print the number of ships per verifier
countByType = df.groupby('Verifier Name')['Name'].nunique()
print(countByType)

Verifier Name
AMERICAN BUREAU OF SHIPPING HELLENIC SINGLE MEMBER LIMITED LIABILITY COMPANY (ABS HELLENIC S.M. LTD)    2163
Bureau Veritas Certification France                                                                      929
CHINA CLASSIFICATION SOCIETY                                                                             302
CROATIAN REGISTER OF SHIPPING                                                                             16
DNV GL                                                                                                  2772
Dromon Bureau of Shipping                                                                                133
EMICERT                                                                                                  458
EUROCERT S.A                                                                                               4
EnvService GmbH                                                                                          118
ICS Verification Services Single Member P.C.                                                             105
Indian Register of Shipping                                                                                7
Korean Register                                                                                          270
Lloyd's Register Quality Assurance Ltd                                                                  1441
MRVControl AB                                                                                              7
Nippon Kaiji Kyokai                                                                                     1021
Polish Register of Shipping                                                                                9
PricewaterhouseCoopers S.A.                                                                                7
RINA Services Spa                                                                                        923
SGS United Kingdom Ltd                                                                                    70
Swiss Climate EcoCare GmbH                                                                                83
Tecnoveritas                                                                                               3
VERIFAVIA (UK) LTD                                                                                      1362
VERIFAVIA SAS                                                                                             27
Name: Name, dtype: int64

In [24]:
# Count of vessels grouped by vessel type under CII Rating categories


# Create a new DataFrame to store the counts
vessel_counts = pd.DataFrame(columns=['vessel_type', 'category', 'count'])

# Iterate through the CII Rating categories
for category in ['A', 'B', 'C', 'D']:
    category_counts = df[df[category] == 'Yes'].groupby('Ship type').size().reset_index()
    category_counts.columns = ['vessel_type', 'count']
    category_counts['category'] = category
    # Add the counts to the vessel_counts DataFrame
    vessel_counts = pd.concat([vessel_counts, category_counts])
    # print(result)
    
# Sort the DataFrame by vessel type
vessel_counts = vessel_counts.sort_values('vessel_type')
vessel_counts

                   vessel_type category count
0                 Bulk carrier        A  2009
0                 Bulk carrier        B   943
0                 Bulk carrier        C   922
1              Chemical tanker        A   410
1              Chemical tanker        B   653
1              Chemical tanker        C   464
2          Combination carrier        A     4
2          Combination carrier        B     6
2          Combination carrier        C     3
3               Container ship        A   602
3               Container ship        B   432
3               Container ship        C   843
4   Container/ro-ro cargo ship        B    24
4   Container/ro-ro cargo ship        C    16
4   Container/ro-ro cargo ship        A    47
5                  Gas carrier        C   147
5                  Gas carrier        A    86
5                  Gas carrier        B   157
6           General cargo ship        C   119
6           General cargo ship        A   639
6           General cargo ship        B   390
7                  LNG carrier        C   167
7                  LNG carrier        B    83
7                  LNG carrier        A    77
8                   Oil tanker        B   810
8                   Oil tanker        C   574
8                   Oil tanker        A   698
9             Other ship types        B    25
9             Other ship types        C    20
9             Other ship types        A    66
10              Passenger ship        B    52
10              Passenger ship        C    40
10              Passenger ship        A    51
11  Refrigerated cargo carrier        C    61
11  Refrigerated cargo carrier        A    71
11  Refrigerated cargo carrier        B    32
12                 Ro-pax ship        A   169
12                 Ro-pax ship        B   117
12                 Ro-pax ship        C   104
13                  Ro-ro ship        A   133
13                  Ro-ro ship        B    55
13                  Ro-ro ship        C   113
14             Vehicle carrier        A   140
14             Vehicle carrier        B    83
14             Vehicle carrier        C   274

In [25]:
import streamlit as st

# view and interative dataframe
st.dataframe(vessel_counts)

2023-08-08 23:06:19.397
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/Scorpion/Py-Projects/eumrv-data/.venv/lib/python3.11/site-packages/ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()